<div class="component-container">
    <div class="round">
        <div class="relation" style="height: 25%">
            <div class="games">
                <div class="game">
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
                <div class="game">
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
            </div>
            <div class="spacers-after">
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
            </div>
        </div>
        <div class="relation" style="height: 25%">
            <div class="games">
                <div class="game">
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
                <div class="game">
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
            </div>
            <div class="spacers-after">
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
            </div>
        </div>
        <div class="relation" style="height: 25%">
            <div class="games">
                <div class="game">
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
                <div class="game">
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
            </div>
            <div class="spacers-after">
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
            </div>
        </div>
        <div class="relation" style="height: 25%">
            <div class="games">
                <div class="game">
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
                <div class="game">
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
            </div>
            <div class="spacers-after">
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
            </div>
        </div>
    </div>

    <div class="round">
        <div class="relation" style="height: 50%">
            <div class="games">
                <div class="game">
                    <div class="spacers-before">
                        <div class="spacer-before"></div>
                        <div class="spacer-before"></div>
                    </div>
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
                <div class="game">
                    <div class="spacers-before">
                        <div class="spacer-before"></div>
                        <div class="spacer-before"></div>
                    </div>
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
            </div>
            <div class="spacers-after">
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
            </div>
        </div>
        <div class="relation" style="height: 50%">
            <div class="games">
                <div class="game">
                    <div class="spacers-before">
                        <div class="spacer-before"></div>
                        <div class="spacer-before"></div>
                    </div>
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
                <div class="game">
                    <div class="spacers-before">
                        <div class="spacer-before"></div>
                        <div class="spacer-before"></div>
                    </div>
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
            </div>
            <div class="spacers-after">
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
            </div>
        </div>
    </div>

    <div class="round">
        <div class="relation" style="height: 100%">
            <div class="games">
                <div class="game">
                    <div class="spacers-before">
                        <div class="spacer-before"></div>
                        <div class="spacer-before"></div>
                    </div>
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
                <div class="game">
                    <div class="spacers-before">
                        <div class="spacer-before"></div>
                        <div class="spacer-before"></div>
                    </div>
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
            </div>
            <div class="spacers-after">
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
                <div class="spacer-after"></div>
            </div>
        </div>
    </div>
    <div class="round">
        <div class="relation" style="height: 100%">
            <div class="games">
                <div class="game">
                    <div class="spacers-before">
                        <div class="spacer-before"></div>
                        <div class="spacer-before"></div>
                    </div>
                    <div class="teams">
                        <p>Team 1</p>
                        <p>Team 2</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>