form {
	margin-left: auto;
	margin-right: auto;
	padding: 3em;
	width: 20%;
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 800px) {
	form {
		width: 40%;
	}
}


@media screen and (max-width: 400px) {
	form {
		width: 80%;
	}
}