<div class="component-container">
    <form class="mat-elevation-z1" [formGroup]="resetPasswordFormGroup" (submit)="submitResetPassword()">
        <mat-form-field>
            <input matInput type="password" placeholder="{{lm.newPassword | translate}}" formControlName="password">
            <mat-error
                    *ngIf="resetPasswordFormGroup.get('password').hasError('required')">{{lm.requiredError | translate}}</mat-error>
            <mat-error
                    *ngIf="resetPasswordFormGroup.get('password').hasError('pattern')">{{getPasswordErrMsg()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="{{lm.repeatPassword | translate}}"
                   formControlName="repeatPassword">
            <mat-error
                    *ngIf="resetPasswordFormGroup.get('repeatPassword').hasError('match')">{{lm.differentPasswordsError | translate}}</mat-error>
        </mat-form-field>
        <button mat-button type="submit">{{lm.send | translate}}</button>
    </form>
</div>
