<form class="mat-elevation-z1" [formGroup]="loginFormGroup" (submit)="onSubmit()">
  <span class="form-header mat-title">{{lm.login | translate}}</span>
  <mat-form-field>
    <input matInput type="email" placeholder="{{lm.email | translate}}"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="{{lm.password | translate}}"/>
  </mat-form-field>
  <div class="login-options">
    <mat-checkbox>{{lm.remember | translate}}</mat-checkbox>
    <span class="repeat-password mat-caption"><a
      routerLink="/auth/forget-password">{{lm.forgetPassword | translate}}</a></span>
  </div>
  <button class="login space-after" mat-raised-button type="submit">{{lm.makeLogin | translate}}</button>
  <button class="registration" mat-button routerLink="{{routerUrl.register}}">{{lm.createAccount | translate}}
  </button>


  <!--<mat-form-field>-->
  <!--<input matInput type="email" placeholder="{{lm.email | translate}}" formControlName="email"/>-->
  <!--<mat-error *ngIf="loginFormGroup.get('email').invalid && loginFormGroup.get('email').touched">-->
  <!--<mat-error *ngIf="loginFormGroup.get('email').hasError('required')">{{lm.requiredError | translate}}</mat-error>-->
  <!--<mat-error *ngIf="loginFormGroup.get('email').hasError('email')">{{lm.badEmailError | translate}}</mat-error>-->
  <!--</mat-error>-->
  <!--</mat-form-field>-->
  <!--<mat-form-field>-->
  <!--<input matInput type="password" placeholder="{{lm.password | translate}}" formControlName="password"/>-->
  <!--<mat-error *ngIf="loginFormGroup.get('password').invalid && loginFormGroup.get('password').touched">-->
  <!--<mat-error *ngIf="loginFormGroup.get('password').hasError('required')">{{lm.requiredError | translate}}-->
  <!--</mat-error>-->
  <!--</mat-error>-->
  <!--</mat-form-field>-->
</form>
