<form class="mat-elevation-z1">
  <span class="form-header mat-title">{{lm.remindPassword | translate}}</span>
  <mat-form-field>
    <input matInput type="email" placeholder="{{lm.email | translate}}"/>
  </mat-form-field>
  <button class="space-after" mat-raised-button type="submit">{{lm.send | translate}}</button>
  <button mat-icon-button routerLink="{{routerUrl.login}}">
    <mat-icon>arrow_back</mat-icon>
  </button>


  <!--<mat-form-field>-->
  <!--<input matInput placeholder="{{lm.email | translate}}" required [formControl]="emailFieldControl"-->
  <!--(focusout)="validate()" (focus)="clearError()" [(ngModel)]="model.email">-->
  <!--<mat-error *ngIf="emailFieldControl.hasError('required')">{{lm.requiredError | translate}}</mat-error>-->
  <!--<mat-error *ngIf="emailFieldControl.hasError('email')">{{lm.badEmailError | translate}}</mat-error>-->
  <!--</mat-form-field>-->
  <!--<button mat-button type="submit">{{lm.remind | translate}}</button>-->
</form>
