<form class="mat-elevation-z1" (submit)="onSubmit()" [formGroup]="forgetPasswordFormGroup">
  <span class="form-header mat-title">{{lm.remindPassword | translate}}</span>
  <mat-form-field>
    <input matInput type="email" placeholder="{{lm.email | translate}}" formControlName="username"/>
    <mat-error *ngIf="forgetPasswordFormGroup.get('username').hasError('required')">{{lm.requiredError | translate}}
    </mat-error>
    <mat-error *ngIf="forgetPasswordFormGroup.get('username').hasError('email')">{{lm.badEmailError | translate}}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit">{{lm.send | translate}}</button>
  <button mat-icon-button routerLink="{{routerUrl.login}}">
    <mat-icon>arrow_back</mat-icon>
  </button>
</form>
