<div class="form-container">
  <form>
    <mat-form-field>
      <input matInput placeholder="{{lm.email | translate}}" required [formControl]="emailFieldControl" (focusout)="validate()" (focus)="clearError()" [(ngModel)]="model.email">
      <mat-error *ngIf="emailFieldControl.hasError('required')">{{lm.requiredError | translate}}</mat-error>
      <mat-error *ngIf="emailFieldControl.hasError('email')">{{lm.badEmailError | translate}}</mat-error>
    </mat-form-field>
    <button mat-button type="submit">{{lm.remind | translate}}</button>
  </form>
</div>
