<form class="mat-elevation-z1" [formGroup]="registerForm" (submit)="onSubmit()">
    <span class="form-header mat-title">{{lm.registration | translate}}</span>
    <mat-form-field>
        <input matInput type="email" placeholder="{{lm.email | translate}}" formControlName="username"/>
        <mat-error *ngIf="registerForm.get('username').hasError('email')">{{lm.badEmailError | translate}}</mat-error>
        <mat-error
                *ngIf="registerForm.get('username').hasError('required')">{{lm.requiredError | translate}}</mat-error>
        <mat-error
                *ngIf="registerForm.get('username').hasError('emailExists')">{{lm.emailExists | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="{{lm.password | translate}}" formControlName="password"/>
        <mat-error *ngIf="registerForm.get('password').hasError('pattern')">{{getPasswordPatterErrMsg()}}</mat-error>
        <mat-error
                *ngIf="registerForm.get('password').hasError('required')">{{lm.requiredError | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="{{lm.repeatPassword | translate}}"
               formControlName="repeatPassword">
        <mat-error *ngIf="registerForm.get('repeatPassword').hasError('required')">{{lm.requiredError | translate}}
        </mat-error>
        <mat-error *ngIf="registerForm.get('repeatPassword').hasError('match')">{{lm.differentPasswordsError |
          translate}}
        </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button>{{lm.register | translate}}</button>
    <button mat-icon-button routerLink="{{routerUrl.login}}">
        <mat-icon>arrow_back</mat-icon>
    </button>
</form>
