.auth-container {
  margin: 5em auto auto auto;
  width: 20em;
}

.form-header {
  justify-self: center;
  font-size: 2em;
  margin-bottom: 1.5em;
}

form {
  display: grid;
  padding: 2em;
}

button {
  font-size: 1.2em;
  height: 2.2em;
  border-radius: 30px;
}

button.space-after {
  margin-bottom: 2em;
}

button.mat-icon-button {
  display: grid;
  transition: background-color 0.2s ease;
}
