.auth-container {
  margin: 5em auto auto auto;
  width: 20em;
}

.form-header {
  justify-self: center;
  font-size: 2em;
  margin-bottom: 1.5em;
}

form {
  display: grid;
  padding: 2em;
}

button {
  font-size: 1.2em;
  height: 2.2em;
  border-radius: 30px;
  margin: 0.2em;
}

mat-form-field:last-of-type {
  margin-bottom: 1em;
}
