<div *ngIf="tournament" class="component-container">
    <div class="dashboard-header">
        <div class="mat-title dashboard-header-title">{{tournament.name}}</div>
        <button mat-icon-button (click)="openTournamentControlDialog()">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
    <div class="dashboard-content">
        <app-tournament-participants-configuration *ngIf="isTournamentBeforeStart()"
                                                   (startTournamentBtnClickEvent)="startTournament()"
                                                   [tournament]="tournament"></app-tournament-participants-configuration>
        <mat-tab-group *ngIf="isTournamentInProgress() || isTournamentFinished()"
                       (selectedTabChange)="onTabChange($event)">
            <mat-tab [label]="lm.results | translate">
                <mat-card>
                    <app-tournament-table [tournament]="tournament"></app-tournament-table>
                </mat-card>
                <mat-card *ngIf="false">
                    <app-tournament-tree [tournament]="tournament"></app-tournament-tree>
                </mat-card>
                <mat-card>
                    <app-tournament-timetable [tournament]="tournament"
                                              [timetableData]="endedGamesTimetableData"
                                              (reloadRequiredEvent)="reload()"></app-tournament-timetable>
                </mat-card>
            </mat-tab>
            <mat-tab *ngIf="isTimetableTabVisible()"
                     [label]="lm.schedule | translate">
                <mat-card>
                    <app-tournament-timetable [tournament]="tournament"
                                              [timetableData]="futureGamesTimetableData"
                                              (reloadRequiredEvent)="reload()"></app-tournament-timetable>
                </mat-card>
            </mat-tab>
            <mat-tab title="asfasfs" [label]="lm.participants | translate">
                <mat-card>
                    <app-participants [tournament]="tournament" (reloadRequiredEvent)="reload()"></app-participants>
                </mat-card>
            </mat-tab>
            <mat-tab *ngIf="isResultEditTabVisible()"
                     [label]="lm.resultEdit | translate">
                <mat-card>
                    <app-game-editor (reloadRequiredEvent)="reload()" [tournament]="tournament"></app-game-editor>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
<div *ngIf="!tournament">
    <mat-spinner></mat-spinner>
</div>
