.dashboard-header {
	display: flex;
	align-items: center;
}

.dashboard-header-title {
	margin: 0 10px 0 0;
}

//.dashboard-content {
//  display: grid;
//  grid-template-columns: 1fr 1fr;
//  grid-gap: 20px;
//}
