<div class="container">
    <div *ngIf="!config">
        <app-spinner></app-spinner>
    </div>
    <mat-horizontal-stepper linear *ngIf="config">
        <mat-step [stepControl]="commonFormGroup" [errorMessage]="lm.tournamentCreatorFormErrorMsg | translate">
            <form [formGroup]="commonFormGroup">
                <div class="step-content">
                    <mat-form-field>
                        <mat-label>{{lm.name | translate}}</mat-label>
                        <input matInput type="text" formControlName="name">
                        <mat-error>{{lm.requiredError | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{lm.accessOption | translate}}</mat-label>
                        <mat-select formControlName="accessOption">
                            <mat-option *ngFor="let accessOption of config['accessOptions']" [value]="accessOption">
                                {{accessOption | translate}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{lm.requiredError | translate}}</mat-error>
                    </mat-form-field>
                    <div class="column-style">
                        <mat-form-field>
                            <mat-label>{{lm.fromDate | translate}}</mat-label>
                            <input matInput [matDatepicker]="tournamentFromDate" formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="tournamentFromDate"></mat-datepicker-toggle>
                            <mat-datepicker #tournamentFromDate></mat-datepicker>
                            <mat-error
                                    *ngIf="commonFormGroup.get('startDate').hasError('required')">{{lm.requiredError |
                              translate}}
                            </mat-error>
                            <mat-error
                                    *ngIf="commonFormGroup.get('startDate').hasError('lessEqThan')">{{lm.badValueError |
                              translate}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{lm.toDate | translate}}</mat-label>
                            <input matInput [matDatepicker]="tournamentToDate" formControlName="endDate">
                            <mat-datepicker-toggle matSuffix [for]="tournamentToDate"></mat-datepicker-toggle>
                            <mat-datepicker #tournamentToDate></mat-datepicker>
                            <mat-error
                                    *ngIf="commonFormGroup.get('endDate').hasError('required')">{{lm.requiredError | translate}}
                            </mat-error>
                            <mat-error
                                    *ngIf="commonFormGroup.get('endDate').hasError('greaterEqThan')">{{lm.badValueError |
                              translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <mat-label>{{lm.place | translate}}</mat-label>
                        <input matInput type="text" formControlName="place"/>
                        <mat-error>{{lm.requiredError | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{lm.description | translate }}</mat-label>
                        <input matInput type="text" formControlName="description"/>
                    </mat-form-field>
                    <div class="column-style">
                        <mat-form-field>
                            <mat-label>{{lm.minParticipants | translate}}</mat-label>
                            <input matInput type="number" formControlName="minParticipants"/>
                            <mat-error *ngIf="commonFormGroup.get('minParticipants').hasError('required')">
                                {{lm.requiredError | translate}}
                            </mat-error>
                            <mat-error *ngIf="commonFormGroup.get('minParticipants').hasError('lowerEqThan')">
                                {{lm.badValueError | translate}}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{lm.maxParticipants | translate}}</mat-label>
                            <input matInput type="number" formControlName="maxParticipants"/>
                            <mat-error *ngIf="commonFormGroup.get('maxParticipants').hasError('required')">
                                {{lm.requiredError | translate}}
                            </mat-error>
                            <mat-error *ngIf="commonFormGroup.get('maxParticipants').hasError('greaterEqThan')">
                                {{lm.badValueError | translate}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <mat-label>{{lm.competition | translate}}</mat-label>
                        <mat-select formControlName="competitionType">
                            <mat-option *ngFor="let competitionType of getAvailableCompetitionTypes()"
                                        [value]="competitionType">
                                {{competitionType | translate}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{lm.requiredError | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{lm.tournamentSystem | translate}}</mat-label>
                        <mat-select formControlName="systemType">
                            <mat-option *ngFor="let systemType of getAvailableSystemTypes()" [value]="systemType">
                                {{systemType | translate}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{lm.requiredError | translate}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>{{lm.participantType | translate}}</mat-label>
                        <mat-select formControlName="participantType">
                            <mat-option *ngFor="let participantType of getAvailableParticipantTypes()"
                                        [value]="participantType">
                                {{participantType | translate}}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{lm.requiredError | translate}}</mat-error>
                    </mat-form-field>
                    <mat-checkbox formControlName="invitationLink">{{lm.invitationLink | translate}}</mat-checkbox>
                </div>
            </form>
            <button mat-button style="float: right;"
                    (click)="submitTournamentCreatorForm()">{{lm.end | translate}}</button>
        </mat-step>
    </mat-horizontal-stepper>
</div>
