<div class="component-container" *ngIf="homeParticipantData || awayParticipantData">
    <mat-card>
        <div class="date">
            <div>{{date | date: 'shortDate'}}</div>
            <div *ngIf="!shortDate">{{date | date: 'shortTime'}}</div>
        </div>
        <div class="content">
            <div *ngFor="let participant of getParticipants()" class="team"
                 [ngClass]="participant.winner ? 'winner' : ''">
                <div class="empty-line-visible">{{participant.name}}</div>
                <div class="result">
                    <div class="period-result" *ngFor="let periodResult of (participant.periodsResult || [])">
                        <div class="period-result">{{periodResult.right}}</div>
                    </div>
                    <div class="current-result">{{participant.currentResult}}</div>
                </div>
            </div>
        </div>
    </mat-card>
</div>