<div class="component-container" *ngIf="homeTeamData">
  <mat-card>
    <div class="date">
      <div>{{date | date: 'shortDate'}}</div>
      <div *ngIf="!shortDate">{{date | date: 'shortTime'}}</div>
    </div>
    <div class="content">
      <div *ngFor="let team of getTeams()" class="team" [ngClass]="team.winner ? 'winner' : ''">
        <div>{{team.name}}</div>
        <div class="result">
          <div class="period-result" *ngFor="let periodResult of team.periodsResult">
            <div class="period-result">{{periodResult}}</div>
          </div>
          <div class="current-result">{{team.currentResult}}</div>
        </div>
      </div>
    </div>
  </mat-card>
</div>