<mat-toolbar class="mat-primary">
  <button mat-button routerLink="/">{{lm.homePage | translate}}</button>
  <span class="fill-space"></span>
  <button *ngIf="!currentUser" mat-raised-button class="right-side" routerLink="/auth/login">{{lm.login | translate}}</button>
  <button *ngIf="currentUser" mat-raised-button class="right-side" (click)="logout()">{{lm.logout | translate}}</button>
  <div style="width: 150px;">
    <a class="right-side mat-flat-button" [matMenuTriggerFor]="langMenu">{{currentLocale?.name | translate}}</a>
    <mat-menu #langMenu>
      <button mat-menu-item *ngFor="let locale of locales" (click)="changeLocale(locale)">{{locale.name | translate}}</button>
    </mat-menu>
  </div>
</mat-toolbar>
