<div class="component-container">
    <!--<form [formGroup]="competitionDetailsFormGroup" *ngIf="competitionDetailsFormGroup">-->
    <!--<div class="step-content">-->
    <!--<mat-form-field *ngIf="competitionDetailsFormGroup.contains('participantType')">-->
    <!--<mat-label>{{lm.participantType | translate}}</mat-label>-->
    <!--<mat-select formControlName="participantType">-->
    <!--<mat-option-->
    <!--*ngFor="let participantType of config['participantTypes'][commonFormGroup.value['competition'].value]"-->
    <!--[value]="{value: participantType, translationKey: participantType}">-->
    <!--{{participantType | translate}}-->
    <!--</mat-option>-->
    <!--</mat-select>-->
    <!--<mat-error>{{lm.requiredError | translate}}</mat-error>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field *ngIf="competitionDetailsFormGroup.contains('tournamentSystem')">-->
    <!--<mat-label>{{lm.tournamentSystem | translate}}</mat-label>-->
    <!--<mat-select formControlName="tournamentSystem">-->
    <!--<mat-option-->
    <!--*ngFor="let tournamentSystem of config['systemTypes'][commonFormGroup.value['competition'].value]"-->
    <!--[value]="{value: tournamentSystem, translationKey: tournamentSystem}">-->
    <!--{{tournamentSystem | translate}}-->
    <!--</mat-option>-->
    <!--</mat-select>-->
    <!--<mat-error>{{lm.requiredError | translate}}</mat-error>-->
    <!--</mat-form-field>-->
    <!--</div>-->
    <!--</form>-->
</div>