.component-container {
	margin: auto;
	width: 50%;
}

.buttons {
	display: flex;
	flex-direction: column;

	button {
		margin-bottom: 10px;
	}
}

.participants-tables {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.5em;
}

.participants-info-panel {
	display: flex;
	justify-content: space-between;
	padding: 2em;

	button {
		padding-left: 10%;
		padding-right: 10%;
	}
}

app-participants-progress-bar {
	width: 70%;
	margin-top: auto;
	margin-bottom: auto;
}

mat-card-title {
	text-align: center;
	margin-bottom: 25px;
}

@media screen and (max-width: 1350px) {
	.component-container {
		width: 80%;
	}
}

@media screen and (max-width: 1150px) {
	.component-container {
		width: 100%;
	}
}

@media screen and (max-width: 900px) {
	.participants-tables {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	.participants-tables {
		grid-template-columns: repeat(1, 1fr);
	}
}

