.component-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.5em;
	margin: auto;
	width: 50%;
}

mat-card-title {
	text-align: center;
	margin-bottom: 25px;
}

@media screen and (max-width: 1350px){
	.component-container {
		width: 80%;
	}
}

@media screen and (max-width: 1150px){
	.component-container {
		width: 100%;
	}
}

@media screen and (max-width: 900px){
	.component-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px){
	.component-container {
		grid-template-columns: repeat(1, 1fr);
	}
}

