<h1>Witaj w hello world!</h1>
<mat-form-field style="margin-left: 20px">
  <input matInput placeholder="nowa wiadomość" #messageInput>
</mat-form-field>
<button mat-icon-button (click)="addMessage(messageInput)"><i class="material-icons">add</i></button>

<mat-divider></mat-divider>

<div>
  <mat-slide-toggle [(ngModel)]="multipleSelect">Zaznacz wiele</mat-slide-toggle>
</div>
<div *ngIf="multipleSelect">
  <span>Edycja zbiorcza</span>
  <button mat-icon-button (click)="deleteSelectedMessages()">
    <i class="material-icons">delete</i>
  </button>
</div>
<ol>
  <li *ngFor="let message of messages">
    <span style="width: 150px; display: inline-block;">{{message.message}}</span>
    <div style="height: 40px; display: inline-block">
      <button mat-icon-button *ngIf="!multipleSelect">
        <i class="material-icons">edit</i>
      </button>
      <button mat-icon-button *ngIf="!multipleSelect" (click)="deleteMessage(message.id)">
        <i class="material-icons" style="line-height: normal">delete</i>
      </button>
      <mat-checkbox *ngIf="multipleSelect" [id]="message.id" (change)="checkboxChanged($event)"></mat-checkbox>
    </div>
  </li>
</ol>
