<div class="user-settings-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{lm.personalData | translate}}</mat-panel-title>
        <!--<mat-panel-description>Type your name and age</mat-panel-description>-->
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="primary">Wyślij</button>
      </mat-action-row>
      <mat-form-field>
        <input matInput placeholder="Age">
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{lm.email | translate}}</mat-panel-title>
        <!--<mat-panel-description>Type your name and age</mat-panel-description>-->
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="primary">Wyślij</button>
      </mat-action-row>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{lm.password | translate}}</mat-panel-title>
        <!--<mat-panel-description>Type your name and age</mat-panel-description>-->
      </mat-expansion-panel-header>

      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="primary">Wyślij</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
