.user-settings-container {
  display: grid;
}

.password-form, .email-form, .personal-data-form {
  display: flex;
  flex-direction: column;
}

mat-accordion {
  display: grid;
  max-width: 500px;
  justify-self: center;
  padding-top: 100px;
  width: 100%;
}

.password-form mat-form-field:first-child {
  padding-bottom: 10px;
}

