<div class="component-container" *ngIf="fixtures?.length > 0">
    <mat-card>
      <mat-card-title class="tournament-schedule-control">
        <button mat-icon-button (click)="showPrevFixtures()" [disabled]="!isPrevRound()">
          <mat-icon>arrow_left</mat-icon>
        </button>
        <div>{{currentRound}}</div>
        <button mat-icon-button (click)="showNextFixtures()" [disabled]="!isNextRound()">
          <mat-icon>arrow_right</mat-icon>
        </button>
      </mat-card-title>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
</div>
