/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~lato-font/scss/public-api';
@import '~@angular/material/theming';

$lato-font-path: '~lato-font/fonts';

@include lato-include-font('medium');

$lato-typography: mat-typography-config(
		$font-family: latoGetFontNameForVariant('medium')
);

@include angular-material-typography($lato-typography);


body {
	width: auto;
}

.center-horizontal {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.success-snackbar {
	background: green;
}

.error-snackbar {
	background: red;
}

.warning-snackbar {
	background: yellow;
}

.info-snackbar {
	background: blue;
}

a {
	text-decoration: none;
	color: inherit;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.rotate-hover:hover {
	animation: rotate 1s ease-in-out 0s;
}

.empty-line-visible:empty::after {
	content: ".";
	visibility: hidden;
}





