<div class="component-container" *ngIf="isLoaded()">
    <mat-expansion-panel *ngFor="let element of timetableData.elements">
        <mat-expansion-panel-header>{{lm.round | translate}} {{element.round}}</mat-expansion-panel-header>
        <app-tournament-timetable-item
                *ngFor="let game of element.games"
                [date]="game.date"
                [homeTeamData]="game.teams.left"
                [awayTeamData]="game.teams.right"
                [bye]="game.bye"
                [shortDate]="true"></app-tournament-timetable-item>
    </mat-expansion-panel>
</div>
<app-spinner *ngIf="!isLoaded()"></app-spinner>