table {
	width: 100%;
}

thead {
	display: none;
}

.round-header {
	padding-top: 30px;
	text-align: center;
}

.winner {
	font-weight: bold;
}

input {
	border: 0;
	background-color: inherit;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
}

.mat-input-element:disabled {
	color: inherit;
}

