<div class="component-container">
    <mat-card class="left-panel">
        <mat-card-content>
            <app-tournament-schedule *ngFor="let tournamentSchedule of tournamentsSchedules"
                                     [tournamentSchedule]="tournamentSchedule"></app-tournament-schedule>
        </mat-card-content>
    </mat-card>
    <mat-card class="right-panel">
        <mat-card-content>
            <mat-calendar [(selected)]="selectedDate" (selectedChange)="onSelectedDateChange()"></mat-calendar>
        </mat-card-content>
    </mat-card>
</div>